.declaration-cont{
    margin: 100px;
    margin-top: 50px;
    padding: 30px;
    background-color: lightskyblue;
    border-radius: 16px;
}

.declaresubmit-btn-cont{
    margin-top: 40px;
    padding: 20px;
    margin-left: 1100px;
}